#!/bin/sh

{{ if le (float64 .chezmoi.osRelease.versionID) 12.0 -}}
if ! command -v starship &> /dev/null; then
    curl -sS https://starship.rs/install.sh | sh -s -- --yes
    exit $?
fi
{{ end -}}

sudo apt install -y starship
