#!/bin/sh

SUDO=$(command -v sudo)
if [ -z "$SUDO" ]; then
    echo "WARN: sudo missing" 
fi

$SUDO apt update

{{- $yaml := includeTemplate "filter-packages" . -}}
{{- $packages := $yaml | fromYaml -}}

{{ range $packages }}
{{- if eq .via "apt" -}}
$SUDO apt install -y "{{.name}}"
{{ end -}}
{{ end -}}
