{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}

{{- if eq .osid "darwin" -}}

#!/bin/sh

if ! command -v brew &> /dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --file=/dev/stdin <<EOF
brew "git"
brew "neovim"
brew "starship"
EOF

{{ else if eq .osid "linux-debian" }}
echo "DETECTED LINUX DEBIAN - installing using apt"
{{ else }}
echo "DETECTED $osid"
{{ end -}}
